body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #333;
  max-width: 400px;
  width: 100%; /* Ensure it doesn't exceed max-width */
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.form-input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.register-button {
    color: black;
    width: 100%;
    padding: 10px;
    font-weight: normal;
    border:none;
    font-size: small;
    background-color: white;
}
.register-button:hover {
    background-color: gray;
}
