body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
}

.home-container {
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.nav-button {
    width: 200px;
    padding: 15px;
    margin: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;
}

.nav-button:hover {
    background-color: #0056b3;
}

.logout-button {
    font-family: Arial, sans-serif;
    font-size: medium;
    margin-top: 40px;
    border-radius: 8px;
    border: none;
    padding: 15px;
    width: 200px;
    color: black;
    font-weight: normal;
    background-color: white;
}
.logout-button:hover {
    background-color: gray;
}