body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: centers buttons vertically */
}

.button {
    background-color: #007bff;    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
  }
  
.button:hover {
    background-color: #0056b3; /* Darker blue */
  }
.tasks-container {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between;
    min-width: 900px; /* Increased width */
    margin: 50px auto;
    padding: 30px;
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.tasks-viewer {
    flex: 2; /* Adjust flex-grow to control width */
    margin-right: 20px;
}

.tasks-title, .create-task-title {
    font-size: 28px;
    text-align: center;
    color: #fff;
}

.tasks-list {
    margin-bottom: 20px;
}

.task-container {
    padding: 15px;
    margin: 20px 0;
    border: 1px solid #444;
    border-radius: 8px;
    background-color: #444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.task-title {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.task-content {
    color: #ccc;
    margin-bottom: 10px;
}

.task-date {
    color: #999;
    font-size: 0.8rem;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: flex-end;
}

.delete-button:hover {
    background-color: #d32f2f; /* Darker red */
}

.create-task-section {
    flex: 1; /* Adjust flex-grow to control width */
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-task-title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.task-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-label {
    margin: 10px 0 5px 0;
    color: #ccc;
}

.form-input, .form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 4px;
    background-color: #555;
    color: #fff;
    box-sizing: border-box;
}

.form-button {
    background-color: #007bff; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

.form-button:hover {
    background-color: #0056b3; /* Darker blue */
}